.bgimg {
   height: 100%;
   width:auto;
   background-image: url('../../assets/images/bot-background.png');
   background-size: cover;
   background-repeat: no-repeat;
 }
 @media (max-width : 404px )
 {
   .bgimg {
    background-image: url('../../assets/images/bot-background1.png');
    background-size: contain;
    background-repeat: repeat;
    }
 }
