.backgroundimage {
  background-image: url('../../assets/images/adminbackground1.png');
  background-repeat: no-repeat;
  background-size: cover;
  height : 100%;
}
.logo {
  margin-top:  -10px;
}
@media (max-width : 768px)
{
  .logo {
    margin-top : -15px;
  }
}
