.appbar {
  background-color: black;
}
.toolbaar{
  float: right;
}
.title {
  color:white;
}
/*.acc-cirlce {
    margin-top:  -50px;
}*/
.logo {
  margin-top:  -10px;
}
@media (max-width : 768px) {
  .logo {
    margin-top : -15px;
  }
}
