.backgroundUser {
  background-color: #F2F2F2
}
.bookscroll {
    overflow-x: scroll;
    overflow-x: hidden;
    height: 81vh;
    margin-right: -1.5% ;
}
.bookscroll::-webkit-scrollbar {
        background-color: transparent;
        width: 4px;
    }
    .bookscroll::-webkit-scrollbar-thumb {
        background: gray;

    }
    .fonto {
        color: white;
        font-family: Rye;
    }
    .toolbaar {
        float: right;
    }
    .textalign {
        word-wrap: break-word;
    }
    .botname {
        float: center;
    }
    .title {
        color: white;
    }
    .bookmark {
        background-color: #059C75;
}
.close {
  margin-top : 2%;
}
.bookCard {
margin-left: 6%;
margin-right : 1%;
max-width : 90%;
margin : 5%;
}
.appName {
  font-family: 'EB Garamond', serif;
  color : white;
}
.chatWindow {
background-color : red;
opacity :0.5;
}
.acc-circle {
  cursor : pointer;
}
.username {
cursor : pointer;
}
.logo {
  margin-top:  -10px;
}
@media (max-width : 768px) {
  .logo {
    margin-top : -15px;
  }
}
