.background {
  margin-top:5px;
  /*//background-image: url('../../assets/images/react.png');*/
  background-color :ABE0EA;
  background-size: cover;
}
.adminscroll{
  overflow-x: scroll;
  overflow-x: hidden;
  height: 90vh;
  margin-right: 0.15%;
}
.adminscroll::-webkit-scrollbar{
  background-color: transparent;
  width: 4px;
}
.adminscroll::-webkit-scrollbar-thumb {
  background: gray;
}
.table {
  margin-top : 5%;
}
nav {
  background-color: #353D2F;
}

body{
  overflow-y: scroll;
}
.homejs{
  margin-top: 50px;
}
h3, .title {
  color:white;
}
.logout {
  padding:5px;
}
.ïmagepoint  {
  cursor : pointer;
}
.pager li>a {
  cursor : pointer;
}
.acc-circle{
  height: 50px;
  width: 50px;
}

@media (max-width : 768px)
{
  .logo {
    margin-top : -15px;
  }
}
