.background {
  margin-top:-20px;
  /*//background-image: url('../../assets/images/react.png');*/
  background-color :ABE0EA;
  background-size: cover;
}
nav {
  background-color: #353D2F;
}

h3, .title {
  color:white;
}
.logout {
  padding:5px;
}
.ïmagepoint  {
  cursor : pointer;
}
.pager li>a {
  cursor : pointer;
}

@media (max-width : 768px)
{
  .logo {
    margin-top : -15px;
  }
}
