footer {
  color: gray;
  position: fixed;
  padding: 0;
  bottom: 0;
  left: 0;
  height: 15vh;
  width: 90%;
}
footer .input-field input,
button {
  color: #595B5B;
  border-color: gray;
}

.chip {
  font-style: italic;

}
.footer {
  margin-top: 25px;
}

.mdi-communication-chat:before  {
padding : 5px;
}

.input-field .prefix ~ input {
    width: 86%;
    width: calc(100%);
  }

@media(max-width : 600px) {
.input-field .prefix ~ input {
  width: 86%;
  width: calc(100%-1rem);
}
}
