footer {
  color: white;
  position: fixed;
  padding: 0;
  bottom: 0;
  left: 0;
  height: 15vh;
  width: 97%;
}
footer .input-field input,
button {
  border-color: #FFFFFF;
}
.chip {
  font-style: italic;

}
